# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage*
htmlcov/

# Type checker
.mypy_cache/
*.egg-info/
build/
dist/

# Misc
.DS_Store
